<!DOCTYPE html>
<html lang="en" dir="ltr">

  <!-- THIS SECTION IS FOR <head> TAG" -->
  <%- include("../partials/so_head-tag.ejs") %>

<body>

  <!-- THIS SECTION IS FOR NAVIGATION BAR" -->
  <%- include("../partials/so_header.ejs") %>

  <!-- THIS SECTION IS LANDING SECTION" -->
  <%- include("../partials/so_landing.ejs") %>

  <!-- THIS SECTION IS IMAGE GALLERY SECTION" -->
  <%- include("../partials/so_image-gallery.ejs") %>

  <!-- THIS SECTION IS ANGLED SECTION" -->
  <%- include("../partials/so_angled-section.ejs") %>

  <!-- THIS SECTION IS FOR PRODUCT PHOTOS AND INFO" -->
  <%- include("../partials/so_product-info.ejs") %>

  <!-- THIS SECTION IS FOR FOOTER BAR" -->
  <%- include("../partials/so_footer.ejs") %>

  <!-- THIS SECTION IS FOR JAVASCRIPT FILES" -->
  <%- include("../partials/so_javacript.ejs") %>

</body>

</html>
